
@media (max-width: 575.98px) { 
	.s-max-xs{
		display: none
	}
	.title{
		font-size: 17px;
	}
	.subtitle{
		font-size: 14px;
	}

	.label-code{
		font-size: 25px;
	}

	.count-total{
		font-size: 30px;
	}
	.title-board{
		font-size: 22px;
		font-weight: 500;
	}
	.txt-center{
		margin: 0 auto;
		display: flex;
  		justify-content: center;
  		align-items: center;
	}

	.card-size{
		width: 90%;
		height: 150px;
	}

	.contenedor {
    width: 70%;
    height: 560px;
  }

.footer-s-max-xs{
	display: block
}

.nav-s-max-sx{
	display: block
}

}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.s-max-xs{
		display: none
	}
	.nav-s-max-sx{
		display: block
	}
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	
 }

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}